.content{
    margin: auto;
    padding: 0;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 93vh;
    grid-template-areas: 'c1 c2';
    padding: 20px;
    justify-content: center;
}

h1{
    margin-left: 75px;
    margin-top: 190px;
    margin-bottom: 30px;
    font-size: 2.6rem;
    font-weight: bold;
}

h4{
    font-family: 'Roboto Mono', monospace;
    margin-left: 80px;
    margin-bottom: 30px;
    font-weight: 600;
}

.c1{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 0;
    padding: 0;
    background-image: url(../../assets/img/imagem.png);
    background-repeat: round;
    background-size: 100vh;
}

.c2{
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    margin: 0;
    padding-right: 30px;
    overflow: auto;
    font-weight: 600;
}

.button{
    padding: 14px;
    border-radius: 10px;
    background-color: white;
    border: solid 2px rgba(0, 0, 0, 0.112);
    margin-left: 10px;
    transition: 2s;
    box-shadow: rgb(137, 137, 137) 1px 1px 1px 1px;
}

.btn2{
    background-color: rgb(0, 157, 220); 
}

.btn2 > a{
    color: white;
}

.btn2:hover{
    background-color: rgb(0, 110, 154);
    transition: 2s;
}

.icon{
    max-width: 20px;
    margin-right: 5px;
}


button:hover{
    background-color: rgba(97, 95, 95, 0.482);
    transition: 2s;
}

.button > a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.btn3{
    max-width: 485px;
    background-color: tomato;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    margin-top: 20px;  
}

.login{
    display: flex;
    flex-direction: row;
    margin-left: 70px;
 }

label{
    margin: 30px 0px 0px 0px ;
    margin-left: 10px;
    padding: 0;
}


.registration{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.content-input{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 10px;

}

.c2 input{
    max-width: 100%;
    padding: 15px;
}

/*  Responsividades  */


@media screen and (max-width:360px) {
    .content{
        margin: auto;
        padding: 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 93vh;
        grid-template-areas: 'c1 c2';
        padding: 20px;
        justify-content: center;
    }
    
    h1{
        margin-top: 30px;
        font-size: 2.6rem;
        font-weight: bold;
        
    }
    
    h4{
        font-family: 'Roboto Mono', monospace;
        margin-left: 10px;
        margin-bottom: 30px;
        font-weight: 600;
        text-align: center;
    }
    
    .c1{
        display: none;
    }
    
    .c2{
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        font-family: 'Roboto Mono', monospace;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        margin: 0;
        padding-right: 30px;
        overflow: auto;
        font-weight: 600;
    }
    
    .button{
        padding: 5px;
        border-radius: 10px;
        background-color: white;
        border: solid 2px rgba(0, 0, 0, 0.112);
        margin-left: 10px;
        transition: 2s;
        box-shadow: rgb(137, 137, 137) 1px 1px 1px 1px;
    }
    
    .btn2{
        background-color: rgb(0, 157, 220); 
    }
    
    .btn2 > a{
        color: white;
    }
    
    .btn2:hover{
        background-color: rgb(0, 110, 154);
        transition: 2s;
    }
    
    .icon{
        max-width: 20px;
        margin-right: 5px;
    }
    
    
    button:hover{
        background-color: rgba(97, 95, 95, 0.482);
        transition: 2s;
    }
    
    .button > a{
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
    
    .btn3{
        max-width: 485px;
        background-color: tomato;
        font-size: 1.2rem;
        font-weight: 600;
        color: white;
        margin-top: 20px;
    }
    
    .login{
        display: flex;
        flex-direction: row;
        margin-left: 10px;
     }
    
    label{
        width: 172px;
        padding: 0;
    }
    
    
    .registration{
        display: flex;
        flex-direction: column;
    }
    
    .content-input{
        display: flex;
        flex-direction: column;
        max-width: 500px;
        padding: 10px;
        margin-left: 20px;
       
    
    }
    
    .c2 input{
        max-width: 100%;
        padding: 15px;
    }   
}


@media screen and (max-width:375px) {
    .content{
        margin: auto;
        padding: 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 93vh;
        grid-template-areas: 'c1 c2';
        padding: 20px;
        justify-content: center;
    }
    
    h1{
        margin-top: 30px;
        font-size: 2.6rem;
        font-weight: bold;
        
    }
    
    h4{
        font-family: 'Roboto Mono', monospace;
        margin-left: 10px;
        margin-bottom: 30px;
        font-weight: 600;
        text-align: center;
    }
    
    .c1{
        display: none;
    }
    
    .c2{
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        font-family: 'Roboto Mono', monospace;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        margin: 0;
        padding-right: 30px;
        overflow: auto;
        font-weight: 600;
    }
    
    .button{
        padding: 5px;
        border-radius: 10px;
        background-color: white;
        border: solid 2px rgba(0, 0, 0, 0.112);
        margin-left: 10px;
        transition: 2s;
        box-shadow: rgb(137, 137, 137) 1px 1px 1px 1px;
    }
    
    .btn2{
        background-color: rgb(0, 157, 220); 
    }
    
    .btn2 > a{
        color: white;
    }
    
    .btn2:hover{
        background-color: rgb(0, 110, 154);
        transition: 2s;
    }
    
    .icon{
        max-width: 20px;
        margin-right: 5px;
    }
    
    
    button:hover{
        background-color: rgba(97, 95, 95, 0.482);
        transition: 2s;
    }
    
    .button > a{
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
    
    .btn3{
        max-width: 485px;
        background-color: tomato;
        font-size: 1.2rem;
        font-weight: 600;
        color: white;
        margin-right: 25px;
        
    }
    
    .login{
        display: flex;
        flex-direction: row;
        margin-left: 10px;
     }
    
    label{
        margin: 30px 0px 0px 0px ;
        margin-left: 10px;
        padding: 0;
    }
    
    
    .registration{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    
    .content-input{
        display: flex;
        max-width: 500px;
        padding: 10px;
    
    }
    
    .c2 input{
        max-width: 100%;
        padding: 15px;
    }   
}

@media screen and (max-width:415px) {
    .content{
        margin: auto;
        padding: 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 93vh;
        grid-template-areas: 'c1 c2';
        padding: 20px;
        justify-content: center;
    }
    
    h1{
        margin-top: 30px;
        font-size: 2.6rem;
        font-weight: bold;
        
    }
    
    h4{
        font-family: 'Roboto Mono', monospace;
        margin-left: 10px;
        margin-bottom: 30px;
        font-weight: 600;
        text-align: center;
    }
    
    .c1{
        display: none;
    }
    
    .c2{
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        font-family: 'Roboto Mono', monospace;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        margin: 0;
        padding-right: 30px;
        overflow: auto;
        font-weight: 600;
    }
    
    .button{
        padding: 5px;
        border-radius: 10px;
        background-color: white;
        border: solid 2px rgba(0, 0, 0, 0.112);
        margin-left: 20px;
        transition: 2s;
        box-shadow: rgb(137, 137, 137) 1px 1px 1px 1px;
    }
    
    .btn2{
        background-color: rgb(0, 157, 220); 
    }
    
    .btn2 > a{
        color: white;
    }
    
    .btn2:hover{
        background-color: rgb(0, 110, 154);
        transition: 2s;
    }
    
    .icon{
        max-width: 20px;
        margin-right: 5px;
    }
    
    
    button:hover{
        background-color: rgba(97, 95, 95, 0.482);
        transition: 2s;
    }
    
    .button > a{
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
    
    .btn3{
        max-width: 485px;
        background-color: tomato;
        font-size: 1.2rem;
        font-weight: 600;
        color: white;
        margin-right: 25px;
        
    }
    
    .login{
        display: flex;
        flex-direction: row;
        margin-left: 10px;
     }
    
    label{
        margin: 30px 0px 0px 0px ;
        margin-left: 10px;
        padding: 0;
    }
    
    
    .registration{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    
    .content-input{
        display: flex;
        max-width: 500px;
        padding: 10px;
    
    }
    
    .c2 input{
        max-width: 100%;
        padding: 15px;
    }   
}